.imagelogo_li_remove {
list-style-type: none;
margin: 0;
 padding: 0;
}

.imagelogo_data{
 width:120px;
 height:80px;
}
  .navbar {
    letter-spacing: 1px;
    font-size: 14px;
    border-radius: 0;
    margin-bottom: 0;
   background-color:purple;

    z-index: 9999;
    border: 0;
    font-family: comic sans ms;
//color:white;
  }


.navbar-toggle {
background-color:orange;
  }

.navgate {
padding:16px;color:white;

}

.navgate:hover{
 color: black;
 background-color: orange;

}


.navbar-header{
height:60px;
}

.navbar-header-collapse-color {
background:white;
}

.dropdown_bgcolor{

background: purple;
color:white;
}

.dropdown_dashedline{
 border-bottom: 2px dotted white;
}

.navgate101:hover{
background:purple;
color:white;

}



.invite_btnx{
background-color: purple;
padding: 6px;
color:white;
font-size:14px;
//border-radius: 50%;
border: none;
cursor: pointer;
text-align: center;
}
.invite_btnx:hover {
background: orange;
color:black;
}




.creator_imagelogo_data{
 width:60px;
 height:60px;
}

/* make modal appear at center of the page */
.modal-appear-center {
margin-top: 25%;
//width:40%;
}


/* make modal appear at center of the page */
.modal-appear-center1 {
margin-top: 15%;
//width:40%;
}


.modal_head_color{
background-color: purple;
padding: 6px;
color:white;
}


.modal_footer_color{
background-color: purple;
padding: 6px;
color:white;
}


.modal-dialog{
   
   margin-top: 110px;
} 









.guard{
background-color: purple;
padding: 10px;
color:white;
font-size:14px;
border-radius: 10%;
border: none;
//cursor: pointer;
text-align: center;


}
.guard:hover {
background: orange;
color:black;
}




.guard2{
background-color: fuchsia;
padding: 10px;
color:white;
font-size:14px;
border-radius: 10%;
border: none;
//cursor: pointer;
text-align: center;


}
.guard2:hover {
background: orange;
color:black;
}



.dangerx{
background:red;color:white;padding:10px;border:none;
}


.successx{
background:green;color:white;padding:10px;border:none;
}
	
